*, head body{margin: 0; padding: 0; text-decoration: none; list-style: none; otline: none; font-family: 'Oswald', sans-serif;}
h2, h3{
    color: #eecd63;
    font-weight: bold;
    font-size: 32px;
}
.edit-btn, .delete-btn{
    width: 150px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    background: darkslategray;
    color: #fff;
    border: 2px solid #ffffff;
    transition: .5s;
    border-radius: 5px;
}
.edit-btn:hover, delete-btn:hover{
    background: #ffffff;
    border: 2px solid darkslategray;
    color: darkslategray;
}
.add-btn{
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px;
    background: #eecd63;
    border: 2px solid #eecd63;
    color: brown;
    border-radius: 5px;
    margin: 15px 0px;
    transition: 0.5s;
}
.add-btn:hover{
    background: brown;
    border: 2px solid #eecd63;
    color: #eecd63;
}
input{
    border: none;
    border-bottom: 1px solid black;
    padding: 0 2px;
    color: #eecd63;
    font-weight: bold;
}
label{
    font-size: 21px;
    color: brown;
}